/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

$base-unit: 24;

$text-color: rgba(0, 0, 0, 0.8);
$base-font-size: 16;
$base-font-family: 'Open Sans', Helvetica, sans-serif;
$base-line-height: $base-unit;

$heading-font-family: 'Open Sans', sans-serif;
$heading-line-height: $base-line-height;

$fixed-font-family: monospaced;
$fixed-font-size: $base-font-size;
$fixed-line-height: $base-line-height;


/*------------------------------------*\
    MIXINS
\*------------------------------------*/

@import "mixins/rems";
@import "mixins/media-queries";

@import "partials/base";
@import "partials/typography";
@import "partials/layout";
@import "partials/countries-and-flags-layout";

@import "flags/brazil";
@import "flags/japan";
@import "flags/netherlands";
@import "flags/italy";
@import "flags/belgium";
@import "flags/germany";
@import "flags/greece";
@import "flags/switzerland";
@import "flags/england";
@import "flags/algeria";
@import "flags/honduras";